.Favorite {
    &__title {
        border-bottom: 1px solid #b1b1b1;
        padding: 12px;
        padding-left: 20px;
        font-size: 15px;
        color: #b1b1b1;
    }
    &__elements {
        padding: 20px;
        border-bottom: 1px solid #b1b1b1;
    }
}